body {
    margin: 0;
    padding: 0;
    font-family: 'handala' ;
    background-color: #2a2a2b;
}

h1 { 
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    transition: background-color 0.5s ease;
    font-size: 50px;
}
h2 {
    color: #ffffff;
    text-align: left;
    transition: background-color 0.5s ease;
}
p {
    color: #ffffff;
    padding: 1em 1em;
}
a {
    color: pink;
    padding: 1em 1em;
}
h4 {
    color: #ffffff;
    font-size: 50px;
    

}
li {
    color: #ffffff;
    font-size: 30px;
    padding: 0em 0.5em;
    
}


